
<footer class="d-flex justify-content-center align-items-center py-3 mt-auto border-top bg-dark" data-bs-theme="dark">
    <p class="container mb-0 text-body-secondary">© 2023 YelpCamp</p>

  </footer>